
body{
    background: #885B60;
}
img{
    overflow: hidden;
}
.hero-text {
    display: block;
    background-color: #CF868F99;
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero-image {
    background-image: url("./imgs/hero-img.jpg");
    height: 360px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.description{
    background: #E5CACC;
    width: 100%;
    margin: 0;
    padding: 0;
}
.descriptive-text{
    text-align: center;
    padding: 60px 50px 60px 50px;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    gap: 60px;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.card{
    display:inline-block;
    background: whitesmoke;
    border-style: solid;
    border-width: 10px;
    border-color: whitesmoke;
    margin: auto;
    height: 480px;
    width: 280px;
    color:#885B60
}
.card:hover{
    border-style: double;
    border-width: 10px;
    border-color: #FFDEDE;
    height: 480px;
    width: 280px;
    text-decoration: underline;
    font-weight: bolder;
}
img{
    height: 40%;
    width: 90%;
    object-fit: cover;
    position: relative;
    margin: 15px;
    margin-bottom: 0px;
    padding: 0;
    display: inline-block;
}
h2{
    text-align: center;
    color: #885B60;
    font-size: 25px;
    margin: 10px;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
.card-text{
    color: #885B60;
    text-align: center;
    margin: 20px;
}
.banner-box{
    width: 100%;
    height: 200px;
    background: #E5CACC;
    margin: 0;
    padding: 0;
}
.contacts-text{
    color: white;
    font-size: 20px;
    padding: 50px;
}