body{
    background-color: #F4E8E9;
}
h2{
    text-align: center;
    color: #885B60;
}
p{
    color: #885B60;
    margin-left: 100px;
    margin-bottom: 50px;
}
.recipe-banner{
    background-color: #FFDEDE;
    padding: 50px;
}
.banner-img{
    height: 400px;
    width: 400px;
    background-image: url(./imgs/Vanilla-Sugar-Cookies-1-86.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    padding: 0;
    display: block;
    text-align: center;

}
.banner-text-container{
    display:block;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 25px;
    background-color: #F5F5F5;
}
.banner-heading{
    color: #885B60;
    text-align: center;
    padding: 20px;
    margin: 20px
}
.recipe-description-text{
    color: #885B60;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin:0;
}
.equipment-ingredients{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0;
    margin: 100px;
    width: 80%;
    padding: 0;
}
.equipment-containers{
    display: inline-block;
    background: whitesmoke;
    margin: 10px;
    width: 500px;
}
.ingredients-containers{
    display: inline-block;
    background: whitesmoke;
    margin: 10px;
    width: 500px;
}
.instructions-title-container{
    background: #885B60;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.instructions-title{
    color: #F4E8E9;
    font-size: 30px;
}
.instructions-section{
    margin: 100px;
    margin-top: 0;
}
.instructions-container-white{
    background: whitesmoke;
    padding: 50px;
}
.instructions-container-pink{
    padding: 50px;
}
.instructions-text{
    font-size: 16px;
}
h1{
    color: #885B60;
    font-size: 50px;
    text-align: center;
    margin: 100px;
}
.banner-bottom{
    background: #FFDEDE;
    padding: 50px;
}
.contacts-text{
    color: whitesmoke;
    font-size: 20px;
}
.button-text{
    display: inline-block;
    background: #885B60;
    color: #FFDEDE;
    padding: 10px;
    border-radius: 10%;
}
