
body{
    background: #885B60;
}
.hero-text {
    background-color: #CF868F99;
    color: white;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    font-size: 4rem;
    padding: 20px;
}
.hero-image {
    background-image: url("./imgs/hero-img.jpg");
    height: 352px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.description{
    background: #E5CACC;
    width: 100%;
    margin: 0;
    padding: 0;
}
.descriptive-text{
    text-align: center;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
}