
body{
    background: #885B60;
}
img{
    overflow: hidden;
}
.hero-text {
    background-color: #CF868F99;
    color: white;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    font-size: 4rem;
    padding: 20px;
}
.hero-image {
    background-image: url("./imgs/hero-img.jpg");
    height: 352px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.description{
    background: #E5CACC;
    width: 100%;
    margin: 0;
    padding: 0;
}
.descriptive-text{
    text-align: center;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}
.card{
    display:inline-block;
    background: white;
    width: 200px;
    height: 300px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
.img-container{
    background-image: url("./imgs/Vanilla-Sugar-Cookies-1-86.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
    padding: 0;
    display: inline-block;
    width: 180px;
    height: 100px;
}
.card-title{
    text-align: center;
    color: #885B60;
    display: inline-block;
}
.card-text{
    color: #885B60;
    display: inline-block;
    text-align: center;
}
